@import "tailwindcss";

.App {
  text-align: center;
  display: grid;
  align-items: center;
  height: 100vh;
}

.SpaceAround {
  width: 100%;
  display: inline-flex;
  justify-content: space-around;
}

.SpaceBetween {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
}

.Button {
  border-radius: 15px;
    background-color: transparent;
    color: whitesmoke;
    border: 2px solid #e7e7e7;
    width: 20rem;
    height: 8rem;
    font-size: 3.5em;
    font-weight: 800;
}

h1 {
  font-size: 3.5em;
}